.order-description__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  p {
    line-height: 1.5;
    margin: 0;
    color: var(--color-neutral-desaturated-blue);
    font-weight: 600;
  }
  h3 {
    color: var(--color-neutral-dark-blue);
  }
}
